<div class="row">
 <div class="col-md-6 mx-auto">
  <h5 class="text-center display-5 my-4">File Uploads,retrieval and deletion</h5>
  <form action="/uploads" method="POST" enctype="multipart/form-data">
   <div class="custom-file mb-3">
    <input type="file" name="image" id="image" class="custom-file-input" value="fileupload">
    <label for="file" class="custom-file-label">Choose File</label>
   </div>
   <input type="submit" value="Submit" class="btn btn-primary btn-block">

   <input value="Upload with Cloudinary Widget" class="btn btn-primary btn-block" id="upload_widget_opener">

  </form>
  <hr>
 </div>
</div>